import(XMLRPC)
import(methods)
import(glue)
import(xfun)
import(httr)
import(rmarkdown)
import(base64enc)

export(
categories,
deleteCategory,
deletePage,
deletePost,
getCategories,
getCategoryList,
getOptions,
getPage,
getPageList,
getPageStatusList,
getPages,
getPost,
getPostCategories,
getPostStatusList,
getRecentPostTitles,
getPosts,
getTags,
getUsersBlogs,
newCategory,
newPage,
newPost,
publishPost,
setPostCategories,
supportedMethods,
supportedTextFilters,
uploadFile,
editPost,
publishREST,
setRESTCredentials
)

exportMethods(setPostCategories)

# matchCategory,
# readBinaryFile,
# makeIntoDataFrame,
# generalRequest,
